:root {
    --spacing: 0.4rem;
    --accordion-active-summary-color: #233dbb;
}

article {
    margin: 1rem;
}

footer {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    --typography-spacing-vertical: 0;
    --font-weight: 500;
}

table[role=grid] {
    border-collapse: initial;
    border: gray 1px solid;
}

td, th {
    vertical-align: top;
}

.passed {
    color: #438fcd;
}

.failed {
    color: #d14d45;
}

.skipped {
    color: #efa23e;
}

article.passed header {
    background-color: #438fcd30;
}

article.failed header {
    background-color: #d14d4530;
}

article.skipped header {
    background-color: #efa23e30;
}

ol {
    margin-left: 0.75rem;
}

g.ct-series.passed {
    stroke: #438fcd;
}

g.ct-series.failed {
    stroke: #d14d45;
}

g.ct-series.skipped {
    stroke: #efa23e;
}
